.formWrapper {
  margin: 0 auto;
  display: flex;
  width: 380px;

  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}
.input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #d9d9d9;
  background-color: transparent;
  &:hover,
  &:focus {
    border-color: #7d2ae8;
  }
}
.button {
  width: 100px;
  padding: 6px 18px;
  border: none;
  border-radius: 10px;
  background-color: #7d2ae8;
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin-top: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #370c6f;
  }
}
.header {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #d9d9d9;
}
.box {
  width: 450px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(121, 6, 167, 1) 3%,
    rgba(9, 9, 121, 1) 35%,
    rgba(6, 84, 82, 1) 100%
  );
}
.fieldBox {
  position: relative;
  height: 30px;
  width: 100%;
  margin-top: 30px;
}

.error {
  color: red;
  font-weight: 500;
}
